@model NguyenHuuQuangHuy_21103100456_A8.Models.Chamcong

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Chamcong</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nhanvien.HoDem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nhanvien.HoDem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoNgayCong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoNgayCong)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
